#controlbar {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0px;
  right: 0px;
  width: 320px;
  padding: 0px 10px 20px;
  display: flex;
  flex-direction: column;
}

.hiddenRadio {
  display: none;
}

#title {
  align-self: center;
  margin-top: 5px;
  font-style: italic;
  font-size: 1.5em;
}