#mapModeSelector {
  display: flex;
  align-items: center;
}

.mainlinks-label {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 5px;
  line-height: 25px;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

input:checked+.mainlinks-label {
  border-bottom: 4px solid rgba(199, 47, 42, 0.5);
  /* rgba color = #c72f2a */
}