.text-below-marker {
	font-size: 15px;
	font-family: 'Open Sans Regular', sans-serif;
	/* border: 1px solid red; */
	text-align: center;
}

.leaflet-popup-content-wrapper {
	max-height: 50em;
	overflow: auto;
}