.text-below-marker {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #000;
  text-shadow: -1px -1px 1px #FFF;
  display: flex !important;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

.leaflet-popup-content-wrapper {
  max-height: 50em;
  overflow: auto;
}

.hide-legend {
  display: none;
}