html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
	z-index: 1;
      }
      
#map img{
  max-width: none;
}

.mainlinksDiv {
	width: 45%;                     /* poor approximation for old browsers    */
	width: calc(45% - 8px);         /* standards-based answer for IE9+, FF16+ */
	width: -moz-calc(45% - 8px);    /* support for FF4 - FF15                 */
	width: -webkit-calc(45% - 8px); /* support for Chrome19+ and Safari6+     */
	color:white;
	padding-top: 10px;
	padding-bottom:10px;
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	background: white;
}

a.mainlinks {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}