html, body, #map {
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 1;
}
      
#map img{
  max-width: none;
}

.home {
	position: absolute;
	top: 90px;
	left: 20px;
	width: 28px;
	height: 28px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
	background:white url("assets/android-home-512px.svg") no-repeat center center;
	background-size: 22px 22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #999999;
	z-index: 105;
}

#modeSelection {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: row;
	background: rgba(255,255,255,0);
}

.mainlinksDiv {
	padding-top: 5px;
	padding-bottom:5px;
	display: flex;
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	justify-content: center;
	text-align: center;
	align-items: center;
	background: rgba(255,255,255,0);
}

a.mainlinks {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	line-height: 150%;
}

.corner_popup_content {
	display: block;
	position: absolute;
	bottom: 10%;
	left: 6%;
	width: 20%;
	height: 15%;
	padding: 16px;
	border: 1px solid grey;
	background-color: rgba(230,231,232,0.75); /* this is the orbis popup background converted to rgb */
	opacity: .8;
	overflow: auto;
}

.flex-wrapper {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: row;	
}

.box-columns {
	display: inline;
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */	
}

.intro-box-two-columns {
   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
}