p {
  padding: 5px;
  margin: 0;
  line-height: 1.5em;
}

h4 {
  margin: 0;
}
body {
  font:'Gentium Basic';
  font-family: 'Gentium Basic', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;  
}

.controlsDiv {
  background: rgba(65,64,66,.85);
  position: fixed;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#controlbar {
  top: 68px;
  right: 15px;
  width: 320px;
  padding:0px 10px 20px;
}
#controlbarScroller {
  height:100%;
  width:100%;
  overflow:auto;
}

.priorityForm > input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.priorityForm > input:checked {
color: white;
background: #302e42;
}
.priorityForm > label {
  position: relative;
  padding: 0 5px;
  font-size: 14px;
  text-transform: capitalize;
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  cursor: pointer;
}

.priority-picker-label:before {
content: '';
position: absolute;
top: -2px;
bottom: -2px;
left: -2px;
right: -2px;
border-bottom: 4px solid;
border-color: #205fa4 #205fb4 #c72f2a;
opacity: 0;
}

input:checked + .priority-picker-label:before {
opacity: 1;
}

.buttonContainer {
  width: 100%;
  margin-top:10px;
  float: left;
  position: relative;
}